<div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <form action="<%= search_path %>" method="get" data-turbolinks="false">
            <input type="search" name="search" id="autocomplete" class="autocomplete" autocomplete="off">
            <label class="label-icon" for="autocomplete"><i class="material-icons">search</i></label>
          </form>
        </div>
      </div>
    </div>
  </div>
