<!-- <div class="row">
  <%= form_tag(search_path, :method => "get", id: "search-form") do %>
  <div class="input-field">
    <%= text_field_tag :search, params[:search], type:"search" ,placeholder: "Search for a Company" %>
    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
  </div>
  <% end %>
</div> -->

<div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <form action="/search" method="get">
            <input type="text" id="autocomplete-input" class="autocomplete">
            <label class="label-icon" for="autocomplete-input"><i class="material-icons">search</i></label>
            <!-- <label for="autocomplete-input">Search</label> -->
          </form>
        </div>
      </div>
    </div>
  </div>
