<h1>Welcome to Open Door</h1>
<hr>

<p><strong>Hey <%= @user.first_name %>,</strong></p>

<p>Thank you for signing up! Our application is designed to find the gaps in employment reviews and make the entire process inclusive of all aspects of culture, social identity, and opportunities.</p>

<!-- insert href here for link and examples -->
<a href="http://localhost:3000/">Here is a link to make your first review. </a> <p>If you are unsure of what these look like, we have some examples of existing</p> <a href="http://localhost:3000/search">company reviews</a><p>.</p> <p>We are excited to be a part of your future employment experience.</p>

<p>If you have any questions please contact us @ <a href="opendoorteam2017@gmail.com">opendoorteam2017@gmail.com</a>. </p>

<em>Sincerely,</em>
<br>
<p><strong>The OpenDoor Team</strong></p>
<p>San Francisco, CA</p>

