
<h3>Profile</h3>
<hr>
<div class="row">
  <div class="col m2">
    <%= image_tag(@user.avatar_url) if @user.avatar? %>
  </div>
</div>

<div class="row">
  <div class="col m9">
  
    
  </div>
  <div class="col m3">
    <%= link_to "Edit Profile", edit_user_registration_path %>
  </div>
</div>

<div class="reviews">
Reviews:
	<ul>
		<% @reviews.each do |review| %>
			<li><%= link_to "#{review.body}", review_show_path(review) %></li>
		<% end %>
	</ul>
</div>


<% if current_user %>
	<%= button_to "Submit a Company", new_submission_path, method: "get" %>
<% end %>

