<div class="row">
  <h2>Featured Companies</h2>
  <% @companies.each do |company| %>
    <div class="col m3 top-company">
      <h5><%= link_to  company.name , company_path(company)%></h5>
      <img class="company-img" src="<%= company.profile_image_url %>" alt="<%= company.name %>" />
      <span class="rating"><%= company.avg_rating %></span>
    </div>
  <% end %>
</div>
