<p><strong>Hi <%= @user.first_name %>,</strong></p>

<p>Thank you for submitting your company to Open Door.</p> <br>
<p>Our team will process and evaluate your submission to assess 
the validity of your place of work. Please expect to hear back within
1-2 business days.</p> <br>
<p>If you do not hear back from us, please email us at<a href="opendoorteam2017@gmail.com">opendoorteam2017@gmail.com</a> .</p>

<p>Best,</p><br>
<strong>The OpenDoor Team</strong>
<p>San Francisco, CA</p>