//------------------- Home Search
.home-search-form{
  text-align: center;
  position: relative;
  margin-top: 20%;
  z-index: 100;

  //--- Logo container
  .logo-container{
    width: 100%;
    height: auto;
    padding: 25px;
    .flow-text{
      color: $white;
    }
  }
  #autocomplete{
    background: $input-search-background;
  }
}



//------------------- Typography
body{
  font-family: $bodyFontFamily;
}
h1,h2,h3,h4,h5,h6{
  font-family: $headingFontFamily;
}

// ----------------------- HOME PAGE
.home{
  background: $home-background;
  h2{
    text-align: center;
    font-size: $h1-fontsize * .25;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: 700;
    font-family: $homeH2FontFamily;
  }
  h3{
    color: $home-h3-color;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-family: $homeH3FontFamily;
  }

  #featured-companies {
    background: $featured-companies-background;
    margin-top: -20%;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 100;
    background: $featured-companies-background;

    .top-company {
      text-align: center;

      .company-img{
        width: 100px;
        height: auto;
        max-width: 100px;
        margin-bottom: 30px;
      }
      h5{
        margin-bottom: 25px;
      }
    }
  }

  #about {
    position: relative;
    background: $about-background;
    margin-top: 2%;
    padding: 5% 0;
    .about-text{
      text-align: center;
      padding: 1% 4%;
      width: 60%;
      margin: 0 auto;
      color: $home-h3-color;
      font-size: $about-text-font-size;
      line-height: $about-text-font-size*1.7;
      letter-spacing: .05em;
      font-weight: 300;
    }
  }
}

//--------------------  FOOTER
footer{
  img{
    width: 100%;
    height: auto;
  }
  .flow-text{
    color: $white;
  }
  .page-footer {
      padding: 3% 0;
      text-align: right;
      ul{
        text-align: left;
        li{
          a{
            text-transform: uppercase;
            letter-spacing: .05em;
            font-weight: 300;
          }
          margin-bottom: 10px;
        }
      }
  }
}
.footer-copyright{
  color: lighten($black, 15%);
  text-transform: uppercase;
  letter-spacing: .1em;
}
