<h1>Review</h1>
<div class="container">

<h5><%= @review.body %></h5>
<%= button_to "+Add Comment", review_comments_path(@review),method: "get" %>
<% if @user == current_user %>
	<%= button_to "+Edit Comment", edit_company_review_path(@company, @review), method: "get" %>
	<%= button_to "Delete Comment", [@company, @review], method: "delete" %>
<% end %>
</div>
