<section id="about" class="section">
  <div class="container">
    <div class="row">
      <div class="col m12">
        <h2 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">OpenDoor</h2>
        <h3 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s"> Opening Diversity Conversations</h3>
        <div class="about-text wow fadeInDown" data-wow-duration="2s" data-wow-delay="1.5s">
          <p>This app was built by Dev Bootcamp students to create a safe space for underrepresented people in tech. Reviews are anonymous by default and will remain safe from employers.</p>
          <p class="section"><%= link_to "Start Searching", search_path, :class=>"btn btn-large" %></p>
        </div>
      </div>
    </div>
  </div>
</section>
