<section id="about" class="section">
  <div class="container">
    <div class="row">
      <div class="col m12">
        <h2 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s">OpenDoor</h2>
        <h3 class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1s"> Opening Diversity Conversations</h3>
        <div class="about-text wow fadeInDown" data-wow-duration="2s" data-wow-delay="1.5s">
          <p>Parallax SpaceTeam engaging ship it sticky note long shadow 360 campaign big data thought leader pitch deck. Quantitative vs. qualitative pitch deck prototype food-truck engaging experiential entrepreneur quantitative vs. qualitative pitch deck quantitative vs. qualitative.</p>
          <p class="section"><%= link_to "Learn more about the team", root_path, :class=>"btn btn-large" %></p>
        </div>
      </div>
    </div>
  </div>
</section>
