<header class="home-header">
  <div class="parallax-container">
    <div class="search-bar"><%= render 'search/form' %></div>
    <div class="parallax"><%= image_tag("temp_image.jpg") %></div>
  </div>
</header>
