<header class="home-header">
  <div class="parallax-container">
    <div class="search-bar">
      <div class="container">
        <div class="row">
          <div class="home-search-form col m6 offset-m3">
            <h1>Opendiv</h1>
            <h2>Search for a Company</h2>
            <%= render 'search/form' %>
          </div>
        </div>
      </div>
    </div>
    <div class="parallax"><%= image_tag("temp_image.jpg") %></div>
  </div>
</header>
